In [2]:
import pandas as pd

In [35]:
# Load the file data\2023 MAIC End-of-Semester Raffle(1-43).xlsx into a Pandas DataFrame (code it)
df = pd.read_excel('raffle_dfs/2023 MAIC End-of-Semester Raffle(1-43).xlsx')

# Grab only the last two columns of the DataFrame
df = df.iloc[:, -2:]
df

,First and Last Name (FREE Raffle Ticket),"If you would like to spend AI-Club points for additional slots in the raffle, please denote the amount you would like to spend here. (Check out the website for your points;Â http://msoe-maic.com)"
0,Travis Jankowski,NaN
1,Noah nieberle,NaN
2,Jacob Minikel,NaN
3,Alex Ewart,1.0
4,Samir Mahmud,NaN
5,Hugo garrido-lestache,NaN
6,Vincenzo Bean,NaN
7,Krueger (Mac) Williams,0.0
8,Andy Dao,0.0
9,caleb andreano,NaN
10,Benjamin gadiano,NaN
11,Jacob Tyree,NaN
12,Wendpanga Tapsoba,NaN
13,Trent Adamson,0.0
14,JT Wehmeier,3.0
15,Gavin Childress,0.0
16,Aaron Herbst,NaN
17,Christian Zastrow,7.0
18,Cody Steinmetz,6.0
19,Christian Basso,4.0
20,Keagan Weinstock,NaN
21,Vlad Miziuk,NaN
22,Charles Nortrup,2.0
23,Aydin Ruppe,6.0
24,Sonia Grade,NaN
25,James Prendiville,0.0
26,Liam Otten,3.0
27,Helina Mulugeta,NaN
28,Jack Dorner,2.0
29,Evan Nowlin,0.0
30,Owen Bailey-Waltz,NaN
31,Ryan Giese,0.0
32,Annika Peters,NaN
33,Mikhail Filippov,2.0
34,Colton Waltz,NaN
35,Aiden Miller,5.0
36,Nikolas Palacios,0.0
37,Nathan Miller,0.0
38,Alex Toma,NaN
39,Mia Hochstetler,5.0
40,Levi Wolfgramm,0.0
41,Dominic Zagra,4.0
42,Sam Keyser,0.0

### Create a list that is Easy to Input Into Online Roulette Wheel
https://wheelofnames.com/

In [22]:
# Given the dataframe, create a new dataframe where a name is repeated x number of rows, where x is the number denoted in the second column. If the number is NaN or 0, then inlcude the person only once

# Create a new dataframe
entries = []

# Iterate through each row in the dataframe

for index, row in df.iterrows():
    # Get the name and number of times to repeat
    name = row[-2]
    num = row[-1]
    
    # If the number is NaN or 0, then include the person only once
    if pd.isnull(num) or num == 0:
        entries.append(name)
    else:
        # Repeat the person x number of times
        for i in range(int(num) + 1):
            entries.append(name)

entries

['Travis Jankowski',
 'Noah nieberle',
 'Jacob Minikel',
 'Alex Ewart',
 'Alex Ewart',
 'Samir Mahmud',
 'Hugo garrido-lestache',
 'Vincenzo Bean ',
 'Krueger (Mac) Williams',
 'Andy Dao',
 'caleb andreano',
 'Benjamin gadiano',
 'Jacob Tyree',
 'Wendpanga Tapsoba ',
 'Trent Adamson',
 'JT Wehmeier',
 'JT Wehmeier',
 'JT Wehmeier',
 'JT Wehmeier',
 'Gavin Childress',
 'Aaron Herbst',
 'Christian Zastrow',
 'Christian Zastrow',
 'Christian Zastrow',
 'Christian Zastrow',
 'Christian Zastrow',
 'Christian Zastrow',
 'Christian Zastrow',
 'Christian Zastrow',
 'Cody Steinmetz',
 'Cody Steinmetz',
 'Cody Steinmetz',
 'Cody Steinmetz',
 'Cody Steinmetz',
 'Cody Steinmetz',
 'Cody Steinmetz',
 'Christian Basso',
 'Christian Basso',
 'Christian Basso',
 'Christian Basso',
 'Christian Basso',
 'Keagan Weinstock',
 'Vlad Miziuk',
 'Charles Nortrup',
 'Charles Nortrup',
 'Charles Nortrup',
 'Aydin Ruppe',
 'Aydin Ruppe',
 'Aydin Ruppe',
 'Aydin Ruppe',
 'Aydin Ruppe',
 'Aydin Ruppe',
 'Aydin Ruppe',
 'Sonia Grade',
 'James Prendiville',
 'Liam Otten',
 'Liam Otten',
 'Liam Otten',
 'Liam Otten',
 'Helina Mulugeta ',
 'Jack Dorner',
 'Jack Dorner',
 'Jack Dorner',
 'Evan Nowlin ',
 'Owen Bailey-Waltz',
 'Ryan Giese',
 'Annika Peters',
 'Mikhail Filippov',
 'Mikhail Filippov',
 'Mikhail Filippov',
 'Colton Waltz',
 'Aiden Miller',
 'Aiden Miller',
 'Aiden Miller',
 'Aiden Miller',
 'Aiden Miller',
 'Aiden Miller',
 'Nikolas Palacios',
 'Nathan Miller',
 'Alex Toma',
 'Mia Hochstetler',
 'Mia Hochstetler',
 'Mia Hochstetler',
 'Mia Hochstetler',
 'Mia Hochstetler',
 'Mia Hochstetler',
 'Levi Wolfgramm',
 'Dominic Zagra',
 'Dominic Zagra',
 'Dominic Zagra',
 'Dominic Zagra',
 'Dominic Zagra',
 'Sam Keyser']

### Better DF Format
Get the df into a format which is easy to remove the points from the online leaderboard

In [36]:
# For df, replace all Nan values with 0 (Free point)
df = df.fillna(0)

# Rename the first column to 'Name' and the second column to 'Points'
df.columns = ['Name', 'Points']
df

# For each name, get rid of white space surrounding the name and title the string
df['Name'] = df['Name'].str.strip().str.title()
df

                      Name  Points
0         Travis Jankowski     0.0
1            Noah Nieberle     0.0
2            Jacob Minikel     0.0
3               Alex Ewart     1.0
4             Samir Mahmud     0.0
5    Hugo Garrido-Lestache     0.0
6            Vincenzo Bean     0.0
7   Krueger (Mac) Williams     0.0
8                 Andy Dao     0.0
9           Caleb Andreano     0.0
10        Benjamin Gadiano     0.0
11             Jacob Tyree     0.0
12       Wendpanga Tapsoba     0.0
13           Trent Adamson     0.0
14             Jt Wehmeier     3.0
15         Gavin Childress     0.0
16            Aaron Herbst     0.0
17       Christian Zastrow     7.0
18          Cody Steinmetz     6.0
19         Christian Basso     4.0
20        Keagan Weinstock     0.0
21             Vlad Miziuk     0.0
22         Charles Nortrup     2.0
23             Aydin Ruppe     6.0
24             Sonia Grade     0.0
25       James Prendiville     0.0
26              Liam Otten     3.0
27         Helina Mulugeta     0.0
28             Jack Dorner     2.0
29             Evan Nowlin     0.0
30       Owen Bailey-Waltz     0.0
31              Ryan Giese     0.0
32           Annika Peters     0.0
33        Mikhail Filippov     2.0
34            Colton Waltz     0.0
35            Aiden Miller     5.0
36        Nikolas Palacios     0.0
37           Nathan Miller     0.0
38               Alex Toma     0.0
39         Mia Hochstetler     5.0
40          Levi Wolfgramm     0.0
41           Dominic Zagra     4.0
42              Sam Keyser     0.0

In [38]:
user_data = pd.read_csv('../../data/User_Data.csv')
user_data

,User,Description,Awards,All-Time Points,Current Points
0,Ben Paulson,test description,NVIDIA DLI 2023|ROSIE Presenter|eboard2022|ebo...,54,49
1,Lucas Gral,test description,Overlord|eboard2022|eboard2023|2022 Researcher...,37,37
2,Sydney Balboni,test description,NVIDIA DLI 2023|ROSIE Presenter|eboard2023|ROS...,28,27
3,John Cisler,test description,ROSIE Presenter|eboard2023|ROSIE Competition F...,15,14
4,Evan Schubert,test description,NaN,4,4
...,...,...,...,...,...
235,Tanner Cellio,test description,NaN,1,1
236,Jonny Keane,test description,NaN,1,1
237,Miko Sordyl,test description,NaN,0,0
238,Ian Czerkis,test description,NaN,1,1
239,Ella Bruce,test description,eboard2023,10,10

In [39]:
# Given the amount of points associated with each Name in df, remove those points from user_data 'Current Points'
for index, row in df.iterrows():
    name = row['Name']
    points = row['Points']
    
    # Find the index of the name in user_data
    user_index = user_data[user_data['User'] == name]

    # If user index empty, skip
    if user_index.empty:
        continue

    # Get the index of the user
    user_index = user_index.index[0]
    
    # Subtract the points from the 'Current Points' column
    user_data.loc[user_index, 'Current Points'] = user_data.loc[user_index, 'Current Points'] - points

user_data[user_data['User'] == 'Christian Zastrow']

,User,Description,Awards,All-Time Points,Current Points
143,Christian Zastrow,test description,NVIDIA DLI 2023,7,0

In [41]:
user_data.to_csv('../../data/User_Data.csv', index=False)